*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif; }

body {
  background: #eee;
  width: calc(100vw - (100vw - 100%)); }
